:root {
    --p-color: #050b21;
    --ps-color: #07122e;
    --s-color: #ea23f1;
    --txt-color: #ffff;
    --opacity-color-navbar: #ffffff3e;
    --transition: all 300ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--p-color);
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand',
        sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

a,
li,
button,
p {
    font-family: 'Inconsolata', monospace;
}

a {
    text-decoration: none;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

@keyframes blinkCursor {
    from {
        border-color: var(--s-color);
    }

    to {
        border-color: transparent;
    }
}

@keyframes animationDigit {
    from {
        width: 0;
        opacity: 1;
    }

    to {
        opacity: 1;
        width: 35rem;
    }
}

@keyframes marioAnimation {
    0% {
        left: -10rem;
    }

    50% {
        bottom: 3rem;
    }


}

@keyframes brilhoBtn {
    0% {
        transform: scale(100%);
    }

    100% {
        box-shadow: 0 0 10px 2px var(--s-color);
        transform: scale(102%);

    }

    0% {
        box-shadow: none;
        transform: scale(100%);
    }

}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnMarioMartelo {
    from {
        background-color: transparent;

    }

    to {
        background-color: var(--txt-color);
        color: var(--p-color);
        transform: rotate(1deg 1deg);
    }
}

@keyframes marioMartelo {
    from {
        transform: scale(0%);
        opacity: 1;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes menuEntrada {
    from {
        width: 0;
        /* background-color: var(--p-color); */
    }

    to {
        width: 100%;
    }
}

@keyframes desprenderAnimation {
    from {
        height: 0;
    }

    to {
        height: 6.1rem;
    }
}

@keyframes lineAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
        left: 0;

    }
}

@keyframes prenderAnimation {
    from {
        height: 6.1rem;
    }

    to {
        height: 0;

    }
}

@keyframes removeLineAnimation {
    from {
        width: 100%;
        left: 0;
    }

    to {
        width: 0;
    }
}

@keyframes removeSeeMore {
    from {
        display: grid;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes socialAnimation {
    100% {
        rotate: 360deg;
    }
}

.section-main {
    min-height: 100vh;
    padding: 1rem;
}

.section {
    min-height: max-content;
    padding: 1rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.bg-main {
    background-image: url(/assets/img/bg-main.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--txt-color);
    background-attachment: fixed;
}

.secondary-bg {
    background-color: var(--ps-color);
    color: var(--txt-color);
}

.menu {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: var(--transition);

}

.close-menu {
    display: none;
}

.desprender,
.prender {
    backdrop-filter: blur(0);
    background-color: var(--p-color);
    position: fixed;
}


.desprender {
    animation: desprenderAnimation 1s;
}

.prender {
    animation: prenderAnimation 2s both;

}

.desprender::after,
.prender::after {
    transition: var(--transition);
    content: '';
    position: fixed;
    bottom: 0;
    background-color: var(--s-color);
    box-shadow: 0 0 30px 2px var(--s-color);
    left: 50%;
    width: 100%;
    height: 0.1rem;
    animation: lineAnimation 1s linear both;
}

.prender::after {
    animation: removeLineAnimation 1s linear both;
}


.menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-content ul {
    display: flex;
}

.menu-content a {
    display: block;
    padding: 2rem 3rem;
    font-size: 2rem;
    color: var(--txt-color);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-content a::after {
    content: '';
    width: 0;
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
}

.menu-content a:hover::after {
    transition: all 500ms ease-in-out;
    width: 100%;
    background-color: var(--opacity-color-navbar);
    color: var(--p-color);
    border-bottom: 2px solid var(--txt-color);
    left: 0;


}

.menu-content a:hover {
    transition: var(--transition);
    color: var(--s-color);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.intro h1 {
    font-size: 5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    text-align: center;
}

.intro p {
    opacity: 0;
    border-right: 10px solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 3rem;
    animation: blinkCursor 1s infinite normal, animationDigit 4s 1s normal steps(35) both;
}

.intro-links ul {
    display: flex;
    margin-top: 3rem;
}

.intro-links ul a img {
    margin-right: 2rem;
}

.intro-links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem
}

.intro-links ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    padding: 1rem 0;
    font-size: 3rem;
    color: var(--txt-color);
    font-weight: bold;
    border: 3px solid var(--s-color);
    background-color: var(--txt-color);
    color: var(--p-color);
    border-radius: 10rem;
    animation: brilhoBtn 2s infinite alternate;
}


.intro-links ul a:hover {
    transition: var(--transition);
    background-color: var(--s-color);
    color: var(--txt-color);

}

.about {
    justify-items: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 5.7rem 2rem 10rem;
}

.text-decoration-h1 h1 {
    background-color: var(--txt-color);
    padding: 1rem 2rem;
    font-size: 5rem;
    border-radius: 1rem;
    color: var(--p-color);
    box-shadow: 8px 8px 5px var(--s-color);
    margin-bottom: 3rem;
    width: max-content;
}

.memoji {
    transition: var(--transition);
    filter: drop-shadow(15px 15px 1px var(--p-color));
    background-image: url(/assets/img/lucky-block.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;
}

.about-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-content p {
    margin: 2rem 0;
}

.about-content a {
    position: absolute;
    margin-top: 1rem;
    background-color: var(--txt-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--p-color);
    font-size: 2rem;
    font-weight: bold;
}

.about img {
    width: 80%;
    height: auto;
}

.about-content a:hover {
    transition: var(--transition);
    box-shadow: 8px 8px 5px var(--s-color);
}

.hability h1 {
    margin: 5rem auto;
    position: relative;
}

.hability h1::after {
    position: absolute;
    content: url(/assets/img/mario-walking.gif);
    transform: scale(30%);
    left: -10rem;
    bottom: -2rem;
    animation: marioAnimation 1s infinite linear;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: start;
    justify-items: center;
    margin-bottom: 5rem;
}

.grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding: 1rem;

    border-radius: 1rem;

}


.grid-content h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.grid-content p {
    margin-top: 1rem;
    padding: 1rem;
}

.grid-content:hover {
    transition: var(--transition);
    transform: translateY(-2rem);
    background-color: var(--p-color);
    box-shadow: 1px 2px 30px #000;
    border-radius: 1rem;
}

.projects-bg {
    background-image: url(/assets/img/project-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.projects-bg h1 {
    margin: 3rem auto;
}

.projects h1 {
    font-size: 3rem;
}

.projects {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem;
    gap: 2rem;
}

.card-project {
    background-color: var(--ps-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 3rem;
    color: var(--txt-color);
    border-radius: 1rem;
    height: 100%;
    width: 100%;

}

.card-project h2 {
    text-align: center;
    font-size: 3rem;

}

.card-project img {
    max-width: 100%;
    margin: 3rem 0;
    border-radius: 0.5rem;

}

.card-project p {
    padding: 1rem;
    text-align: start;
}

.card-project a {
    margin-top: 3rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border: 3px solid var(--s-color);
    font-size: 1.8rem;
    border-radius: 2rem;
    font-weight: bold;
    animation: brilhoBtn 2s infinite alternate;
}

.card-project:hover {
    transition: var(--transition);
    transform: translateY(-2%);
    box-shadow: 0 0 5px var(--s-color);
}

.card-project a:hover {
    transition: var(--transition);
    background-color: var(--txt-color);
    color: var(--p-color);
}

.link-project {
    margin: 2rem 0;
}

#no-link {
    filter: grayscale(1);
    animation: none;
    color: var(--opacity-color-navbar);
    cursor: not-allowed;
}

#no-link:hover {
    background-color: transparent;
}

#seeMore {
    padding: 1rem;
    background-color: transparent;
    color: var(--txt-color);
    border: 3px solid var(--txt-color);
    cursor: pointer;
    font-size: 1.8rem;
    margin: 3rem 1rem 5rem;

}

#seeMore:hover {
    animation: btnMarioMartelo 800ms infinite;
}

.marioMartelo {
    position: relative;
}

.marioMartelo:hover::after {
    opacity: 0;
    transition: 500ms ease-in-out;
    /* display: none; */
    content: url(/assets/img/mario-martelando.gif);
    position: absolute;
    bottom: 0px;
    left: 50px;
    animation: marioMartelo 800ms infinite;
}

#emBreve {
    margin: auto;
}

.project-container {
    display: none;
    animation: entrada 1s;
}

.removeSeeMore {
    animation: removeSeeMore 500ms linear both;
}

.social {

    padding: 5rem 1rem 1rem;
    background-color: var(--ps-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.social::before {
    position: absolute;
    top: 0;
    content: '';
    width: 99vw;
    height: 0.1rem;
    background-color: var(--p-color);
    box-shadow: 0 0 10px 5px var(--p-color);
}


.social li a {
    display: block;
    margin-right: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    position: relative;
    padding: 1rem;
    width: 6rem;
    height: 6rem;
}

.social li a:hover {
    transition: var(--transition);
    background-color: var(--s-color);
    box-shadow: 0 0 30px 5px var(--s-color);
    transform: scale(95%) translateY(-15%);

}

.social li a::after {
    position: absolute;
    right: 0;
    border-radius: 10rem;
    content: '';
    width: 100%;
    height: 100%;
    animation: socialAnimation 5s linear infinite both;
    border-right: 1px solid var(--txt-color);
    border-left: 1px solid var(--s-color);
    border-top: 1px solid var(--txt-color);
    border-bottom: 1px solid var(--s-color);
}

.copy {
    width: 100%;
    padding: 1rem;
    color: var(--p-color);
    font-weight: bold;
    background-color: var(--txt-color);
    position: relative;
}

.copy::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';

    height: 0.1rem;
    background-color: var(--p-color);
    box-shadow: 0 0 10px 5px var(--p-color);
}

.copy p {
    padding: 1rem;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
}

@media(max-width: 1200px) {
    .projects {
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}

@media (max-width: 800px) {

    @keyframes desprenderAnimation {
        from {

            height: 0;

        }

        to {

            height: 35rem;


        }
    }

    @keyframes prenderAnimation {
        from {
            height: 35rem;
            display: block;

        }

        to {
            height: 0;
        }
    }

    @keyframes prenderText {
        from {
            transform: scale(100%);

        }

        to {
            transform: scale(0%);
        }
    }

    @keyframes desprenderText {
        from {
            transform: scale(0%);
        }

        to {
            transform: scale(100%);
        }
    }

    .prenderText {
        animation: prenderText 0.5s both;
    }

    .desprenderText {
        animation: desprenderText 0.5s both;
    }

    .desprender::after,
    .prender::after {
        position: absolute;
    }

    .menu {
        display: none;
    }


    .intro h1 {
        font-size: 3.3rem;
    }

    .intro-links ul {
        flex-direction: column;

    }

    .intro-links ul li {
        margin-top: 2rem;
        margin-right: 0;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .bg-main {
        background-image: url(/assets/img/mobile-gif-mario.gif);
        background-position: top center;
        background-size: cover;
    }

    .section-main,
    .intro {
        min-height: 100vh;
    }

    .about-content {
        padding: 0 2rem 0 0;
    }

    .menu {
        height: 35rem;
        width: 100%;
    }




    .menu-content ul {
        flex-direction: column;
        text-align: center;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        right: 0;
        z-index: 2;
        right: 3rem;
        top: 3rem;
        width: 3rem;
        height: 3rem;
        background-color: var(--primary-color);
        color: var(--s-color);
        text-align: center;
        font-size: 3rem;
        cursor: pointer;
        z-index: 200;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-decoration-h1 h1 {
        font-size: 3rem;
    }

    .bg-main {
        background-image: url(/assets/img/bg-main.gif);
        background-position: top center;
        background-repeat: no-repeat;
        color: var(--txt-color);
        background-attachment: fixed;
    }
}

@media (max-width: 500px) {
    .link-project {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 390px) {
    .copy p {
        padding: 0;
        padding-top: 1rem;
        max-width: 120rem;
        margin: 0 auto;
        font-size: 1.2rem;
        text-align: center;

    }

    @keyframes animationDigit {
        from {
            width: 0;
            opacity: 1;
        }

        to {
            opacity: 1;
            width: 25rem;
        }
    }

    .intro p {
        font-size: 2rem;
    }

    .intro-links ul a {
        width: 20rem;
        font-size: 2rem;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--p-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--s-color);
    border-radius: 2rem;
}